@import "variaveis";
@import "globais";

body {
    header {
    position: fixed;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    margin-top: 0;
    background: $richBlackFOGRA39;
    color: $white;
    
        .name {
            h1 {
                font-family: 'Shadows Into Light', cursive;
                font-size: 2em;
                padding: 5px 5px 5px 20px;
            }
        }
        .nav {        
            ul {
                display: flex;
                margin: 20px 40px;

                li {
                    margin-right: 15px;

                    a {
                        color: $white;
                        transition: 1s;

                        &:hover {
                            border-bottom: 5px solid $rubyRed;
                        }
                    }

                }
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        background: $white;

        section#inicio {
            background:  url(../imagens/gettyimages-539028812-640x640.jpg);
            background-size: contain;
            background-position: top left;
            height: 100vh;            
        
            .container {
                background: $erierBlackA;
                display: flex;
                margin: auto;
                height: 100vh;

                article.welcome {
                    margin: auto;
                    color: $babyPowder;
                    
                    h2 {
                        font-size: 2.5em;
                        margin-bottom: 10px;
                    }
                    p {
                        font-size: 1.1em;
                        margin-bottom: 20px;
                    }
                    a {
                        @include btn;
                    }
                }
            }            
        }

        section#sobre {
            background:  $babyPowder;
            height: 100vh;  

            .cont {
                display: flex;
                width: 80%;
                margin: auto;
                height: 100vh;             
                color: #000;

                article.text_area {
                    width: 50%;
                    margin: auto;
                    text-align: right;

                    h1 {
                        span {
                            font-size: 1em;
                            font-weight: 400;
                        }
                    }

                    p {
                        em {
                            font-size: 1em;
                        }
                    }
                    h3 {
                        font-weight: 700;
                        margin: 20px 0;
                    }
                    ul {
                        margin-bottom: 20px;
                    }
                    a {
                        @include btn;
                    }
                }
                article.img_cv {
                    margin: auto;
                    width: 50%;

                    .img {
                        margin: auto;
                        padding: 10px;
                        width: 90%;
                        height: 400px;
                        background: url(../NicolasJohnson.jpeg);
                        background-size: cover;
                        background-position: center;
                    }
                }
            }
        }    
    }
}