@import "variaveis";
@import "globais";

body {
    header {
    position: fixed;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    margin-top: 0;
    background: $richBlackFOGRA39;
    color: $white;
    
        .name {
            h1 {
                font-family: 'Shadows Into Light', cursive;
                font-size: 2em;
                padding: 5px 5px 5px 20px;

                span {
                    font-size: 1em;
                    color: $rubyRed;
                    font-family: 'Shadows Into Light', cursive;
                }
            }
        }
        .nav {        
            ul {
                display: flex;
                margin: 20px 40px;

                li {
                    margin-right: 15px;

                    a {
                        color: $white;
                        transition: 1s;

                        &:hover {
                            border-bottom: 5px solid $rubyRed;
                        }
                    }

                }
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        background: $white;

        section#home {
            background:  url(../imagens/gettyimages-539028812-640x640.jpg);
            background-size: contain;
            background-position: top left;
            height: 100vh;           
        
            .container {
                background: $erierBlackA;
                display: flex;
                flex-direction: column;
                margin: auto;
                height: 100vh;

                .welcome {
                    margin: auto;
                    color: $babyPowder;
                    text-align: center;

                    h1 {
                        font-size: 1.5em;
                    }
                    
                    h2 {
                        font-size: 2.5em;
                        margin-bottom: 10px;

                        span {
                            font-size: 1em;
                            color: $rubyRed;
                            font-weight: 600;
                        }
                    }
                    p {
                        font-size: 1.1em;
                        margin-bottom: 20px;
                    }
                    a {
                        @include btn;
                    }
                }
                nav.social_icons {
                    height: 10vh;
                    margin: 0 auto;
                    
                    ul{
                        display: flex; 
                        justify-content: space-between; 
                        li {
                            margin-right: 30px;
                            a {
                                i {
                                    color: $rubyRed;
                                    font-size: 1.5em;
                                }
                            }                            
                        } 
                    }
                }
            }            
        }

        section#about {
            background:  $babyPowder;
            height: 100vh;  

            section.skills {
                margin: 75px auto;
                display: flex;

                .icons {
                    margin: 0 auto; 
                    //border: 1px solid #000;
                    //width: 100px;
                    //border-radius: .5em;
                    //align-items: center;
                    //box-shadow: 2px 2px 5px $erierBlackA;

                    .fa-js {
                        color: rgb(224, 224, 70);
                        margin-left: 5px;
                    }
                    .fa-html5 {
                        color: orange;
                    }
                    .fa-css3-alt {
                        color: blue;
                    }
                    .fa-sass {
                        color: pink;
                    }
                    .fa-git-alt {
                        color: orangered;
                    }  

                    i {
                        margin: 0 auto;
                        font-size: 3em;
                        align-self: center;
                    }

                    h2 {
                        font-size: .9em;
                        color: $erierBlack;
                        text-align: center;
                    } 
                }

                ul {
                    margin: 80px auto 0;
                    display: flex;

                    li {
                        margin: 0 auto;
                        i {
                            display: flex;
                            flex-direction: column;
                            color: $rubyRed;
                            font-size: 1.5em;
                        }
                    }
                }
            }

            .content {
                display: flex;
                width: 80%;
                margin: auto;
                height: 60vh;             
                color: #000;

                article.text_area {
                    width: 50%;
                    margin: auto;
                    text-align: right;

                    h1 {
                        span {
                            font-size: 1em;
                            font-weight: 400;
                            color: $carnelian;
                        }
                    }

                    p {
                        margin-bottom: 20px;
                        em {
                            font-size: 1em;
                            
                        }
                    }
                    h3 {
                        font-weight: 700;
                        margin: 20px 0;
                    }
                    ul {
                        margin-bottom: 20px;
                    }
                    a {
                        @include btn;
                    }
                }
                article.img_cv {
                    margin: auto;
                    width: 50%;

                    .img {
                        margin: auto;
                        padding: 10px;
                        width: 70%;
                        height: 400px;
                        background: url(../imagens/NicolasJohnson.jpeg);
                        background-size: cover;
                        background-position: center;
                    }
                }
            }
        }
        section#portfolio {
            height: 100vh;
            margin: auto;
            text-align: center;
            background:  $babyPowder;

            h1 {
                margin-top: 80px;

                span {
                    color: $carnelian;
                    //font-family: 'Shadows Into Light', cursive;
                }

                span {
                    font-size: 1em;
                    font-weight: 400;
                }
            }
            h3 {
                font-weight: 400;
            }
        }  
    }
    footer {
        display: flex;
        flex-direction: column;
        background: $bloodRed;
        color: $white;
        text-align: center;

        h1 {
            margin: 20px auto;
            font-weight: 400;

            span {
                font-size: 1em;
                font-weight: 700;
                color: $erierBlack;
            }
        }
        .social {
            margin: 10px auto 20px;

            ul {
                display: flex;

                li{
                    a {
                        &:hover {
                            color: $erierBlack;
                        }
                    }
                }
            }
        }

        .container {
            display: flex;
            flex-direction: row-reverse;
            margin: 10px auto;

            .sayhello {
                margin: auto;

                h2 {
                    font-size: .9em;
                    text-align: right;
                    margin: 10px auto 25px;
                }
                a {
                    @include sayhello;
                }
            }
            .address {
                margin: auto 50px;
                text-align: left;
                padding-right: 40px;
                border-right: 1px solid $white;
            }
            .social {
                margin: auto 50px;
                ul {
                    text-align: left;
                }
            }

        }
        h4 {
            margin: 30px auto 10px;
            font-weight: 400;
            font-size: .8em;
        }
    }
}